/*
* File: style.css
* Author: Hajdara Patrik
* Copyright: 2023, Hajdara Patrik
* Group: SZOFT I/II/N
* Date: 2023-03-24
* Github: https://github.com/06776/
* Licenc: GNU GPL
*/

.about {
  background-color: aqua;
  border-top: 3px solid gold;
  position: fixed;
  width: 600px;
  text-align: center;
  top: 120px;
  right: -180px;
  transform: rotate(45deg);
}

h1,
h2 {
  text-align: center;
}

body {
  background-color: aquamarine;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}